<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R2I.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="R2I.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <R2I.Settings1>
            <setting name="saveDir" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="backupDir" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
        </R2I.Settings1>
        <R2I.Properties.Settings>
            <setting name="saveDir" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="backupDir" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="store" serializeAs="String">
                <value>Steam</value>
            </setting>
            <setting name="character" serializeAs="String">
                <value>01</value>
            </setting>
        </R2I.Properties.Settings>
    </userSettings>
</configuration>